@import url('http://fonts.cdnfonts.com/css/poppins');

.logo {
    font-size: 15px;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;                                                
}

.logo span {
    color: rgba(0, 0, 0, 0.8);
    border: 3px solid rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    padding: 5px 13px;   
}